*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow','Fraunces';
}

.container {
    max-width: 1488px;
    margin: 0 auto;
    padding: 0px 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}